[Unit]
Description=rotates the screen

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/bin/echo 3 > /sys/class/graphics/fbcon/rotate'

[Install]
WantedBy=multi-user.target
