# terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# packer
packer_cache/

# private
/ordinal/kea/
/ordinal/bind9/

# large
*.xz
*.squashfs
*.iso
rootfs/

# misc
*.key
*.pub
*.log
