# terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# packer
packer_cache/

# private
/ordinal/kea/*
!/ordinal/kea/.gitkeep
/ordinal/bind9/*
!/ordinal/bind9/.gitkeep

# large
*.xz
*.squashfs
*.iso
rootfs/

# misc
*.key
*.pub
*.log
