network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: false
      wakeonlan: true
      nameservers:
        addresses:
          - 1.1.1.1
      addresses:
        - {{ ipv4Cidr }}
      routes:
        - to: 0.0.0.0/0
          via: 10.0.0.1
          metric: 100
          on-link: true
