# /etc/systemd/system/kea-dhcp-ddns.service
[Unit]
Description=controls kea dhcp4
Wants=network-online.target
After=network-online.target
After=time-sync.target
# propogate actions from kea.service to *this* unit
# PartOf=kea.service
# start this unit after kea.service starts
# After=kea.service

[Service]
ExecStart=/usr/local/sbin/kea-dhcp-ddns -c /usr/local/etc/kea/kea-dhcp-ddns.conf
ExecReload=/usr/local/sbin/keactrl reload -s dhcp_ddns
ExecStop=/usr/local/sbin/keactrl stop -s dhcp_ddns
RestartSec=150ms

[Install]
WantedBy=multi-user.target
# unit should start when kea.service is starting
WantedBy=kea.service
